
/* ============================================================
	
	NOTA:
	Para una mejor organización de los CSS se a implementado organizar los codigos separando 
	las ETIQUETAS, ID, CLASES en bloques diferentes y a su vez en orden alfabetico.
	
	Versión 8-Feb-2013.
=============================================================== */

/* ===== Etiquetas, ID, Clases combinadas ======================================================== */

article, aside,.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9,.span10,.span11,.span12{

}
article, aside{}
/* ===== Etiquetas ======================================================== */

article{
	 box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-image: -moz-linear-gradient(top,  rgba(249, 198, 16, 1) 0%, rgba(247, 29, 29, 1) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249, 198, 16, 1)), color-stop(100%,rgba(247, 29, 29, 1)));
  background-image: -webkit-linear-gradient(top,  rgba(249, 198, 16, 1) 0%,rgba(247, 29, 29, 1) 100%);
  background-image: -o-linear-gradient(top,  rgba(249, 198, 16, 1) 0%,rgba(247, 29, 29, 1) 100%);
  background-image: -ms-linear-gradient(top,  rgba(249, 198, 16, 1) 0%,rgba(247, 29, 29, 1) 100%);
  background-image: linear-gradient(to bottom,  rgba(249, 198, 16, 1) 0%,rgba(247, 29, 29, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9C610', endColorstr='#F71D1D',GradientType=0 );
  width: 290px;
  height: 200px;
  float: left;
  margin: 30px;
  opacity: 1;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  box-shadow: 0px 0px 39px 0px #000000,0px 0px 23px 0px #000000 inset;
  -webkit-box-shadow: 0px 0px 39px 0px #000000,0px 0px 23px 0px #000000 inset;
  -moz-box-shadow: 0px 0px 39px 0px #000000,0px 0px 23px 0px #000000 inset;
  -ms-box-shadow: 0px 0px 39px 0px #000000,0px 0px 23px 0px #000000 inset;
  -o-box-shadow: 0px 0px 39px 0px #000000,0px 0px 23px 0px #000000 inset;

}
aside{
	float: left;
	margin: 0px 2px;
	overflow: hidden;
	padding: 4px;
	width: 205px;
}
body{
	background: url("../images/bg.png");
	margin:0px auto;
	width: 1000px;
}
footer{
	background: #000;	
	overflow: hidden;
	color:white;
	padding:10px 5px;
	width: 100%;
	behavior: url(popup/PIE.htc); /* Activamos el soporte para IE */
}
footer h5{
	text-align: center;
}
header{
	border: solid 1px #ccc;
	height: 240px;
	margin:0px 0px 5px 0px;
}
section{
	overflow: hidden;
}

/* ===== IDs ======================================================== */
#active{

}
#all{
	background: #fff;
	margin:0px auto;
	overflow: hidden;
	width: 100%;
	-moz-box-shadow: 0px 0px 6px #000000;
	-webkit-box-shadow: 0px 0px 6px #000000;
	behavior: url(popup/PIE.htc); /* Activamos el soporte para IE */
}
#contact_us_buttons{
	margin: 10px 0px 0px 0px;
}
#contact_us_aremandatory{
	display: inline-block;
	overflow: hidden;
	width: 100%;
}

#call{
	background: no-repeat -3% 0% url("../images/email.png");
	display: block;
	font-size: 1.7em;
	font-weight: bold;
	height: 94px;
	overflow: hidden;
	padding: 2px 0px 0px 0px;
	text-align: center;
	width: 100%;
}
#call h2{
	background: rgb(40, 162, 223);
	height: 50px;
	margin: -2px 0px 15px 44px;
	padding: 0px 5px 0px 0px;

}
#banner{
	background: #ccc;
	height: 200px;
	width: 100%
}
#formulario{
	padding:4px;
	text-align: center;
}
#formulario2{
	padding:4px;
	text-align: center;
}
#formulario2 label{
	float: left;
	margin-top: 5px;
	margin-bottom: 14px;
}
#formulario2 .text_field_big, #formulario2 .text_field{
	float: right;
	width: 95%;
}
#logo{
	margin: 30px 0px 0px 100px;
}

/* ===== Clases ======================================================== */

.astrix{
	color:red;
}
.buttons{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#d7d8de');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#d7d8de')";
	background-image: -moz-linear-gradient(top, #ffffff, #d7d8de);
	background-image: -ms-linear-gradient(top, #ffffff, #d7d8de);
	background-image: -o-linear-gradient(top, #ffffff, #d7d8de);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#d7d8de));
	background-image: -webkit-linear-gradient(top, #ffffff, #d7d8de);
	background-image: linear-gradient(top, #ffffff, #d7d8de);
	behavior: url(popup/PIE.htc); /* Activamos el soporte para IE */
	color:#000;
	margin:0px 4px;
}

.buttons:hover{
	background: #fff;
	color:#000;
	margin:0px 4px;
}
.center{
	text-align: center;
}
.col{
	border: solid 1px #ccc;
	display: inline;
}
.hasPlaceholder {
	color: #777;
}
.left{
	float: left;
	padding-left: 15px;
}
.rigth{
	float: right;
	padding-right: 15px
}
.span1,.span2,.span3,.span4,.span5{
	margin-top: 12px;
}
